* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #ADDCFF;
    background-image: url(images/Background.svg);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Navigation */

.nav-container {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #000;
    font-size: 24px;
    font-family: 'Noto Serif KR', sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: 300ms;
}

.nav-items li a:hover {
    transform: translateY(-3px);
}

.nav-items li a:active {
    background-color: rgba(242, 242, 242, 0.6);
}

/* Header */

header a {
    position: absolute;
    left: 840px;
    top: 650px;

    color: #000;
    font-size: 24px;
    text-decoration: none;

    background: #D8EEE1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    transition: 300ms;
}

header a:hover {
    transform: translateY(-5px);
}


/* Game Containers */

.game-container {
    position: absolute;
    width: 337px;
    height: 544px;
    left: 147px;
    top: 274px;
}